.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    width: calc(100% - 100px);
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
  }
  
  .mat-btn-action{
    display: flex;
    justify-content: center;
  }

  .title-dashboard{
      font-size: 16px;
  }

  #title-view-act{
    margin-left: auto; 
    margin-right: auto;
    max-width: 150px;
    padding-bottom: 1px;
  }

  .mat-card-header{
    display: flex;
    justify-content: center;
  }

  .image-student{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }

  .mat-grid-list{
    margin: 10px;
  }
  
.image-act{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.content-img{
  text-align: center;
}
