<div class="grid-container">
  <mat-card id="title-view-act">
    <mat-card-header>
      <mat-card-title>List Activity</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let act of activities">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{act.activityId}}
          </mat-card-title>
        </mat-card-header>
        <!-- <mat-card-content class="content-img">
            <img class="image-act" [src]="act.image" [title]="act.name">
        </mat-card-content> -->
        <mat-card-content class="dashboard-card-content">   
          <mat-list>
            <mat-list-item>Name : {{act.name}}</mat-list-item>
            <mat-list-item>Advisor : {{act.advisor}}</mat-list-item>
            <mat-list-item>Description : {{act.description}}</mat-list-item>
            <mat-list-item>Start : {{act.start}}</mat-list-item>
            <mat-list-item>End : {{act.end}}</mat-list-item>
            <mat-list-item>End : {{act.location}}</mat-list-item>
            <mat-list-item>Student Enrolled : {{showStudentEnroll(act)}} person(s)</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>