.card-login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

.mat-card-header{
  display: flex;
  justify-content: center;
}

.mat-card-content{
  display: flex;
  justify-content: center;
}

.mat-card-actions{
  display: flex;
  justify-content: center;
}

.example-full-width{
  width: 300px;
}

.container-register{
  text-align: end;
  font-size: 12px;
  font-weight: 400;
}

#background-login{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg-login .bg-color-shade{
  background: rgba(42, 27, 161, 0.7) ;
  background: linear-gradient(45deg, rgba(39, 158, 236, 0.623), rgb(202, 255, 202) 100%);
  width: 100%;
  height: 100%;
}

#toolbar{
  background: transparent !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  padding-left: 180px;
}

#title-login{
  font-weight: bold;
  font-size: 20px;
}