<mat-card class="card-login">
  <mat-card-header>
    <mat-card-title id="title-login">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="warn" >Login</button>
  </mat-card-actions>
  <div class="footer-end">
    <div class="container-register">
      <a [routerLink]="['/regist']" routerLinkActive="router-link-active"> Sign up Now!</a>
    </div>
  </div>
</mat-card>