<div class="grid-container">
  <mat-card id="title-list-dialog">
    <mat-card-header>
      <mat-card-title>List Enroll Student</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-grid-list cols="1">
    <mat-grid-tile *ngFor="let student of selectActId.studentIdEnroll">
      <mat-card class="dashboard-card">
        <mat-card-content>
            {{student}}
        </mat-card-content>
        <!-- <mat-card-content class="dashboard-card-content">
          <img class="image-student" [src]="student.image" [title]="student.name">
          <mat-list>
            <mat-list-item> Username : {{student.username}} </mat-list-item>
            <mat-list-item> Password : {{student.password}} </mat-list-item>
            <mat-list-item> Name : {{student.name}} {{student.surname}} </mat-list-item>
          </mat-list>
        </mat-card-content> -->
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>