<mat-toolbar id="toolbar">
  <span>Add activity</span>
</mat-toolbar>  
<mat-card class="card-activity">
  <div class="Add-container">
    <form class="addActivity-form" (ngSubmit)="onSubmit()"[formGroup]="sf">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <label class="label">Activity name</label>
            <mat-form-field class="example-full-width"  >
              <input matInput placeholder="Name" [(ngModel)]="name"  required formControlName="name" >
              <mat-error *ngFor="let validation of validation_messages.name">
                <mat-error class="error-message" *ngIf="sf.get('name').hasError(validation.type) &&
                (sf.get('name').dirty ||
                 sf.get('name').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label">Location of activity</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Place" [(ngModel)]="place"  required formControlName="location" >
              <mat-error *ngFor="let validation of validation_messages.location">
                <mat-error class="error-message" *ngIf="sf.get('location').hasError(validation.type) &&
                (sf.get('location').dirty ||
                 sf.get('location').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label">Activity description</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Description" [(ngModel)]="description"  required formControlName="description">
              <mat-error *ngFor="let validation of validation_messages.description">
                <mat-error class="error-message" *ngIf="sf.get('description').hasError(validation.type) &&
                (sf.get('description').dirty ||
                 sf.get('description').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label">Period of registration</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Period" [(ngModel)]="period"  >
            </mat-form-field>
          </td>
        </tr> 
        <tr>
          <td>
            <label class="label">Start time</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="time" type="datetime-local" name="sActivity">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label">End time</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="time" type="datetime-local"  name="eActivity">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label">Activity Host</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Teacher name"  [(ngModel)]="host"  required formControlName="host">
                <mat-error *ngFor="let validation of validation_messages.description">
                  <mat-error class="error-message" *ngIf="sf.get('host').hasError(validation.type) &&
                  (sf.get('host').dirty ||
                  sf.get('host').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions class="button1">
        <button mat-raised-button (click)="onSubmit()" >Add</button>
         <button mat-raised-button (click)="back()">Back</button>
  </mat-card-actions>
    </form>
  </div>
</mat-card>