.card-activity{
  
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

.example-full-width{
    width: 800px;
    margin-top: 10px;
}

.label{
    font-weight: bold;
}