.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .nav-toolbar{
    display: flex;
    flex-direction: row;
  }
  
  .mat-button{
    margin-top: 4px;
    font-size: 17px;
  }