<!-- nav-toolbar -->
<section class="section-toobar">
  <div>
    <mat-toolbar id="nav-toolbar">
      <span> Page :</span>
      <!-- Studet Menu -->
      <button mat-button [matMenuTriggerFor]="menuStudent" aria-label="Toggle menu" [disabled]="!isStudent">Student</button>
      <mat-menu #menuStudent="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active" >Your Profile</button>
        <button mat-menu-item [routerLink]="['/edit-info']" routerLinkActive="router-link-active" >Update Profile</button>
        <button mat-menu-item [routerLink]="['/enroll-act']" routerLinkActive="router-link-active" >Enroll Activity</button>
      </mat-menu>
      <!-- Teacher Menu -->
      <button mat-button [matMenuTriggerFor]="menuTeacher" aria-label="Toggle menu" [disabled]="!isTeacher">Teacher</button>
      <mat-menu #menuTeacher="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/teacher-act']" routerLinkActive="router-link-active" >Teacher Activity</button>
        <button mat-menu-item [routerLink]="['/verify-enroll']" routerLinkActive="router-link-active" >Verify Enrollment</button>
      </mat-menu>
      <!-- Admin Menu -->
      <button mat-button [matMenuTriggerFor]="menuAdmin" aria-label="Toggle menu" [disabled]="!isAdmin">Admin</button>
      <mat-menu #menuAdmin="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/reply']" routerLinkActive="router-link-active" >Reply</button>
        <button mat-menu-item [routerLink]="['/create-act']" routerLinkActive="router-link-active" >Create Activity</button>
        <button mat-menu-item [routerLink]="['/view-act']" routerLinkActive="router-link-active" >View Activity</button>
      </mat-menu>
      
      <button mat-button id="back-btn" aria-label="Toggle menu" (click)="goBack()" >Back</button> 
    </mat-toolbar>
  </div>
</section>

<section class="content-nav">
  <router-outlet></router-outlet>
</section>
