.image-student{
    height: 150px;
      width: 150px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
  }
  .mat-card-header{
    display: flex;
    justify-content: center;
  }
  
  .card-profile{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  
  .mat-card-content{
    text-align: center;
  }