<div class="grid-container">
  <mat-card class="card-profile">
    <mat-card-header>
      <mat-card-title id="title-profile">Profile</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <img class="image-student" [src]="loginStudent.image" [title]="loginStudent.name">
      <mat-list>
        <mat-list-item> Student ID : {{loginStudent.studentId}} </mat-list-item>
        <mat-list-item> Username : {{loginStudent.username}} </mat-list-item>
        <mat-list-item> Password : {{loginStudent.password}} </mat-list-item>
        <mat-list-item> Name : {{loginStudent.name}} {{loginStudent.surname}} </mat-list-item>
        <mat-list-item> Date of Birth : {{loginStudent.dateofbirth}} </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>