
<mat-form-field> 
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   
   <ng-container matColumnDef="activityId">
    <th mat-header-cell *matHeaderCellDef> activityId </th>
    <td mat-cell *matCellDef="let element"> {{element.activityId}} </td>
  </ng-container>


  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef> studentId </th>
    <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> surname </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}}  
    </td>
  </ng-container>

  <ng-container matColumnDef="dateofbirth">
      <th mat-header-cell *matHeaderCellDef> dateofbirth </th>
      <td mat-cell *matCellDef="let element"> {{element.dateofbirth}}  
      </td>
    </ng-container>

    <ng-container matColumnDef="btn">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="verifyDialog()">verify</button>
          <button mat-raised-button (click)="rejectDialog()">reject</button>
        </td>  
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
  
</table>