/* Structure */
table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
}

/* Green */
.list {
  border-color: #2196F3;
  color: dodgerblue
}

.list:hover {
  background: #2196F3;
  color: white;
}

.mat-header-cell{
  background: red;
}