<mat-form-field class="filter-teacher">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>


  <ng-container matColumnDef="activityId">
    <th mat-header-cell *matHeaderCellDef> activityId </th>
    <td mat-cell *matCellDef="let element"> {{element.activityId}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef> period </th>
    <td mat-cell *matCellDef="let element"> {{element.period| date:'dd MMM yy'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> start </th>
    <td mat-cell *matCellDef="let element"> {{element.start| date:'dd MMM yy'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> end </th>
    <td mat-cell *matCellDef="let element"> {{element.end| date:'dd MMM yy'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> host </th>
    <td mat-cell *matCellDef="let element"> {{element.host}}
    </td>
  </ng-container>

  <ng-container matColumnDef="editbtn">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="editDialog()">Edit</button>
      <button mat-raised-button (click)="listDialog(element.activityId)">list</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>

</table>