<div class="grid-container">
  <mat-card id="title-reply">
    <mat-card-header>
      <mat-card-title>List Request</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let newstudent of newstudents">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{newstudent.studentId}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img class="image-student" [src]="newstudent.image" [title]="newstudent.name">
          <mat-list>
            <mat-list-item> Username : {{newstudent.username}} </mat-list-item>
            <mat-list-item> Password : {{newstudent.password}} </mat-list-item>
            <mat-list-item> Name : {{newstudent.name}} {{newstudent.surname}} </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions class="mat-btn-action">
            <button mat-raised-button color="primary" (click)="confirm(newstudent)">Confirm</button>
            <button mat-raised-button color="warn" (click)="reject(newstudent)">Reject</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>