<div class="grid-container">
  <mat-card class="card-edit">
    <mat-card-header>
      <mat-card-title id="title-login">Update your information</mat-card-title>
    </mat-card-header>

    <div class="Edit-container">
      <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="sf">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <p>New First Name: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Name" [(ngModel)]="name" required formControlName="name">
                <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="sf.get('name').hasError(validation.type) &&
                                (sf.get('name').dirty ||
                                 sf.get('name').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>New Last Name: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Surname" [(ngModel)]="surname" required formControlName="surname">
                <mat-error *ngFor="let validation of validation_messages.surname">
                  <mat-error class="error-message" *ngIf="sf.get('surname').hasError(validation.type) &&
                              (sf.get('surname').dirty ||
                               sf.get('surname').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>New Date of Birth: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="bod" [(ngModel)]="bod" required formControlName="bod">
                <mat-error *ngFor="let validation of validation_messages.surnamefb">
                  <mat-error class="error-message" *ngIf="sf.get('bod').hasError(validation.type) &&
                              (sf.get('bod').dirty ||
                               sf.get('bod').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>New Email: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Email" [(ngModel)]="username" required formControlName="username">
                <mat-error *ngFor="let validation of validation_messages.username">
                  <mat-error class="error-message" *ngIf="sf.get('username').hasError(validation.type) &&
                              (sf.get('username').dirty ||
                               sf.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>New Password: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" required formControlName="password">
                <mat-error *ngFor="let validation of validation_messages.password">
                  <mat-error class="error-message" *ngIf="sf.get('password').hasError(validation.type) &&
                                (sf.get('password').dirty ||
                                 sf.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>Upload your image: </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Image url" [(ngModel)]="image" formControlName="image">
                <mat-error *ngFor="let validation of validation_messages.image">
                  <mat-error class="error-message" *ngIf="sf.get('image').hasError(validation.type) &&
                                (sf.get('image').dirty ||
                                 sf.get('image').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>

      <mat-card-actions class="button1">
        <button mat-raised-button (click)="onSubmit()" color="warn">Update</button>
        <button mat-raised-button (click)="back()" color="warn">close</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
