.card-edit{ 
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.example-full-width{
    width: 800px;
    margin-top: 10px;
}
  
#title-login{
    font-size: 20px;
    padding-bottom: 10px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.grid-container {
    margin: 20px;
}

.mat-card-header{
    display: flex;
    justify-content: center;
}

.strong{
    margin: 10px;
}

.mat-form-field{
    width: 700px;
}