<div class="grid-container">
  <mat-card id="title-view-act">
    <mat-card-header>
      <mat-card-title>Activity</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let act of activities">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{act.actId}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-img">
          <img class="image-act" [src]="act.image" [title]="act.name">
        </mat-card-content>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item>Name : {{act.name}} </mat-list-item>
            <mat-list-item>Advisor : {{act.teacherId}} {{showTeacherName(act)}}</mat-list-item>
            <mat-list-item>Description : {{act.detail}}</mat-list-item>
            <mat-list-item>Student Enrolled : {{showStudentEnroll(act)}} person(s)</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions class="mat-btn-action">
              <button mat-raised-button color="primary">Enroll</button>
            </mat-card-actions>
          </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>