.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;    
    border-radius: 5px;
    margin: 5px;
}

.verify {background-color: #4CAF50;} 
.verify:hover {background-color: #46a049;}

.reject {background-color: rgb(243, 33, 33);} 
.reject:hover {background: #da0b0b;}