.card-Register{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

.example-full-width{
    width: 800px;
}

.label{
    font-weight: bold;
}

.mat-card-header{
    display: flex;
    justify-content: center;
    
}

.grid-container{
    margin: 20px;
}

.mat-form-field{
    width: 700px;
}

.mat-card-actions{
    display: flex;
    justify-content: center;
}