<div class="grid-container">
  <mat-card class="card-Register">
    <mat-card-header>
      <mat-card-title id="title-register">Input your information</mat-card-title>
    </mat-card-header>

    <div class="Register-container">
      <form class="register-form" #registForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="sf">
        <table class="example-full-width" cellspcacing="0">
          <tr>
            <td>
              <p> First Name :</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Name" [(ngModel)]="name" required formControlName="name">
                <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="sf.get('name').hasError(validation.type) &&
                       (sf.get('name').dirty ||
                       sf.get('name').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>Last Name : </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Last name" [(ngModel)]="surname" required formControlName="surname">
                <mat-error *ngFor="let validation of validation_messages.surname">
                  <mat-error class="error-message" *ngIf="sf.get('surname').hasError(validation.type) &&
                    (sf.get('surname').dirty ||
                     sf.get('surname').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>Student ID :</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Id" [(ngModel)]="studentid" required formControlName="studentId">
                <mat-error *ngFor="let validation of validation_messages.studentId">
                  <mat-error class="error-message" *ngIf="sf.get('studentId').hasError(validation.type) &&
                   (sf.get('studentId').dirty ||
                    sf.get('studentId').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p> Date of birth : </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Your birthday" type="date" [(ngModel)]="birthday" formControlName="birthday">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p> Your username : </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Email" [(ngModel)]="email" required formControlName="username">
                <mat-error *ngFor="let validation of validation_messages.username">
                  <mat-error class="error-message" *ngIf="sf.get('username').hasError(validation.type) &&
                  (sf.get('username').dirty ||
                   sf.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p> Your password : </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder=" Password" type="password" [(ngModel)]="password" required formControlName="password">
                <mat-error *ngFor="let validation of validation_messages.password">
                  <mat-error class="error-message" *ngIf="sf.get('password').hasError(validation.type) &&
                  (sf.get('password').dirty ||sf.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p> Upload your image : </p>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="Image url" [(ngModel)]="image" formControlName="image">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-card-actions class="button1">
          <button mat-raised-button type="submit" >Register</button>
          <button mat-raised-button (click)="back()" >Back</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>